<app-top-bar>
</app-top-bar>

<div class="row" >
  <div class="column" >
    <label class="center" >
     BOOK
    </label>
    <img [src]="ImageBook"  alt="Snow"  routerLink="/books"  class="center"  />
  </div>
    <div class="column">
     <label class="center" >
      CUSTOMER
     </label>

     <img [src]="ImageCustomer" alt="Snow"  routerLink="/customers"  class="center" />
    </div>

   <div class="column" >
     <label class="center" >
      PERSON
      </label>
      <img [src]="ImagePerson"  alt="Snow"  routerLink="/persons"  class="center"  />
     </div>
</div>
  
 <div class="row" >
    <div class="column" >
      <label class="center" >
     Article
       </label>
      <img [src]="ImageArticle"  alt="Snow"  routerLink="/articles"  class="center"  />
     </div>
    <div class="column" >
      <label class="center" >
       Review
      </label>
       <img [src]="ImageReview"  alt="Snow"  routerLink="/reviews"  class="center"  />
     </div>

  <div class="column" >
    <label class="center" >
    Publishing House
    </label>
    <img [src]="ImagePublishingHouse"  alt="Snow"  routerLink="/publishinghouses"  class="center"  />
  </div>
</div>


  <router-outlet></router-outlet>






